<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <header>
    <h1>Final Page</h1>
  </header>
  <main>
    <h2>Image Merged Successfully!</h2>
    <img src="data:image/png;base64,{{ image_data }}" alt="Merged Image">
  </main>
  <footer>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </footer>
</body>
</html>
